#genaral directory
shell pwd=$(shell pwd)
SOURCE_DIR=$(shell pwd)/../sdk_v4210/source
ROMFS_DIR=$(SOURCE_DIR)/romfs
PROJECT_NAME=abs002
PROJECT_LIB=libcurl.* libexpat.* libshairplay.* libssl.* libdns_sd.* libcrypto.* libmedia.* $(PROJECT_NAME)/*.so*
PROJECT_BIN= ck easyconfigd get_mac mdnsd ntpdate rcpd wpa_supplicant bl_tfcard_server file_upload songlist_webserver app_ui playerCli playerServer dlna_dmr
PROJECT_SCRIPTS=./*
PROJECT_REMOVE=$(ROMFS_DIR)/lib/plugins/libaccess_live555_plugin.so 


#flags
CFLAGS=-I$(SOURCE_DIR)/linux-2.6.36.x/include  -I$(SOURCE_DIR)/lib/include -I$(shell pwd)/include
LDFLAGS=-L$(SOURCE_DIR)/lib -L$(shell pwd)/lib
TARGET_LDFLAGS=-L$(SOURCE_DIR)/lib -L$(shell pwd)/lib 
CPPFLAGS=-I$(shell pwd)/include -I$(shell pwd)/include/libdaemon -I$(SOURCE_DIR)/linux-2.6.36.x/include -I$(SOURCE_DIR)/lib/include
#CPPFLAGS += -I/opt/buildroot-gcc463_gc/usr/mipsel-buildroot-linux-uclibc/sysroot/usr/include
CXXFLAGS=-I$(shell pwd)/include -I$(shell pwd)/include/libdaemon -I$(SOURCE_DIR)/linux-2.6.36.x/include -I$(SOURCE_DIR)/lib/include
GSTREAMER_FLAGS=

#zigbee daemon lib
DAEMON_CFLAGS=-I$(shell pwd)/include 	
DAEMON_LIBS=-L$(shell pwd)/lib 			

#for gstreamer player
#GSTREAMER_FLAGS=--with-gstreamer --with-tclplayer=no
	
#compiler
TOOLCHAIN=/opt/buildroot-gcc342/bin
#TOOLCHAIN=/opt/buildroot-gcc463_gc/usr/bin
RUN_PLATFORM=mipsel-linux

CC = $(TOOLCHAIN)/mipsel-linux-gcc
LD = $(TOOLCHAIN)/mipsel-linux-ld
AR = $(TOOLCHAIN)/mipsel-linux-ar
STRIP = $(TOOLCHAIN)/mipsel-linux-strip
NM = $(TOOLCHAIN)/mipsel-linux-nm
RANLIB = $(TOOLCHAIN)/mipsel-linux-ranlib
READELF = $(TOOLCHAIN)/mipsel-linux-readelf
OBJCOPY = $(TOOLCHAIN)/mipsel-linux-objcopy
CXX = $(TOOLCHAIN)/mipsel-linux-g++

#depends
include $(SOURCE_DIR)/config/.config
include $(SOURCE_DIR)/linux-2.6.36.x/.config




export CC LD AR STRIP NM RANLIB READELF OBJCOPY LDFLAGS CPPFLAGS shell pwd SOURCE_DIR ROMFS_DIR \
	PROJECT_NAME  PROJECT_LIB PROJECT_BIN PROJECT_SCRIPTS PROJECT_REMOVE TARGET_LDFLAGS	 CFLAGS \
	LIBXML_HOST_CONFIGURE_ARGS CXXFLAGS CXX DAEMON_CFLAGS DAEMON_LIBS 
